html {
  font-size: 16px;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
}

.main-header {
  width: 100%;
  padding: 30px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 15px;
}

.content-section {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.login-form {
  text-align: center;
}

.heading-space {
  margin-bottom: 30px;
}

.mini-space {
  margin-bottom: 20px;
}
